body {
    font-family: Comfortaa;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding-top: 14px;

    &__items {
        gap: 48px;
        display: flex;
        align-items: center;
    }
    &__link {
        color: #25282b;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-decoration: none;
    }
}

.tittle {
    font-family: Playfair display;
    width: 588px;
    height: 72px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #25282b;
    margin: 32px 0px;
    padding-top: 199px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 588px;
    gap: 8px;
}

.text {
    width: 80%;
    font-family: Nunito;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: #828282;
}

.image {
    width: 524px;
    height: 524px;
    padding-left: 88px;
    padding-top: 94px;
}

.cta {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500px;
    font-size: 18px;
    color: #25282b;
    background-color: #fdc435;
    border-radius: 8px;
    width: 114px;
    height: 43px;
    border-style: none;
    margin: 32px 0px;
}

.footer {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 144px;
    flex-direction: column;

    &__logo {
        padding-right: 32px;
    }
    &__text {
        width: 142px;
        height: 22px;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;

        color: #828282;
        margin: 32px 0px;
    }
}
